// Colors

$white: #fff;
$white-smoke: #f3f4f6;
$gray-100: #f4f4f4;
$gray-200: #e9e9e9;
$gray-300: #b4c1d0;
$gray-400: #ced4da !default;
$gray-500: #a3aab2 !default;
$gray-600: #797979;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a;
$black: #000;

$rothfield-green: #1e332e;
$rothfield-yellow: #f9d98c;
$rothfield-navy: #0c1d2d;
$rothfield-teal: #2b666e;
$rothfield-turquoise: #80d1c0;
$rothfield-tangerine: #e38a44;
$rothfield-black: #222222;
$rothfield-soft-gray: #e2ebec;
$confirmation-green: #20c375;

$success: #93dbb8;
$info: #6ac3f4;
$warning: #ffc107;
$danger: #ff7474;

// Options

$enable-caret: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false !default;
$enable-transitions: true;
$enable-reduced-motion: false;
$enable-smooth-scroll: false !default;
$enable-grid-classes: true !default;
$enable-cssgrid: false !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-negative-margins: true;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

// Spacing

$spacer: 1rem !default;
$sidepanel-width: 250px;

// Typography

$font-family-sans-serif: Poppins, Roboto, Arial, sans-serif;

$font-size-sm: 0.75rem;
$font-size-base: 0.875rem;
$font-size-lg: 1rem;
$font-size-xl: 1.125rem;
$font-size-xxl: 1.5rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$h1-font-size: 1.875rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$headings-margin-bottom: $spacer;
$headings-font-weight: 700;

// Components

$border-radius: 10px;
$border-radius-lg: 20px;
$border-width: 1px;

// Forms

$input-border-radius: $border-radius;
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-placeholder-color: $gray-600;
$input-font-size: $font-size-base;
$input-height: 36px;

// Offcanvas

$offcanvas-bg-color: $gray-100;

// Tables

$table-cell-vertical-align: middle;
$table-striped-bg-factor: 0.5;
$table-striped-bg: rgba($gray-100, $table-striped-bg-factor);
$table-striped-order: even;
$table-cell-padding-y: .75rem;
$table-cell-padding-x: .75rem;

// Other

$tasteful-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
$zindex-toast:                      1090;